# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# 仮想環境
.venv/

# テスト・ツール
.tox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
htmlcov/

# IDE・OS
.vscode/
.idea/
.DS_Store

# 環境ファイル（秘匿）
.env
.env.*
runserver*.log

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Node（使っていれば）
node_modules/

# DB data (ignore everything under .docker/db/data)
.docker/db/data/

# Docker pgAdmin data
.docker/pgadmin/data/

# Logs
backend/logs/
