# Database settings
DB_NAME=jomja_db
DB_USER=jomja_user
DB_PASSWORD=jomja_password
DB_HOST=localhost
DB_PORT=5433

# Django settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-gm7cra3@&kmsjnlkqf@1p(u_qce(kk@--&6q9u$v^qcxwlox@1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Google Maps API Key (必要に応じて設定)
GOOGLE_MAPS_API_KEY=
MAPS_API_KEY=
