-r requirements.txt

pytest==8.4.2
pytest-django==4.11.1
coverage==7.10.3
ruff==0.12.8
flake8>=7.0.0
mypy>=1.10.0
requests-mock>=1.12.1
freezegun>=1.5.1
factory_boy==3.3.3
Faker==37.8.0
responses>=0.25.0,<1.0
django-stubs[compatible-mypy]
types-requests
types-psycopg2
